# Ignore Node packages
frontend/node_modules/

# Ignore Python virtual env
venv/

# Ignore cache and temp files
__pycache__/
*.pyc
.env


# Ignore local DB (do not commit)
backend/db.sqlite3
backend/*.sqlite3


